.shiny-text {
  color: #b5b5b5a4;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: flex;
  flex-direction: column;
  animation-name: shine;
  animation-duration: var(--shine-duration, 5s);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.shiny-line {
  display: block;
  line-height: 0.85;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
