.App {
  min-height: 100vh;
  background-color: #282c34;
}

main {
  padding: 2rem;
  color: #f1f1f1;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #61dafb;
}
